@font-face{
	src: url("../webfonts/UbuntuSans_SemiCondensed-Regular.ttf")
	format("truetype");
	font-family: Ubuntu-Sans;
}

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root{
	--font-family: Ubuntu-Sans, san-serif;
	--font-size: 1.2rem;
	--primary-color: rgba(255, 0, 0,1);
	--secondary-color: rgba(255, 165, 0, 1);
	--accent-color: rgba(255, 255, 0, 1);
	--transition-duration: 0.4s;
}

body{
	background: black;
	font-family: var(--font-family);
	font-size: var(--font-size);
	color: white;
}

header{
	position: fixed;
	left: 1rem;
	right: 1rem;
	transform: translateY(-130%);
	transition: transform var(--transition-duration) linear;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	border-radius: 1rem;
	box-shadow: 0.1rem 0.2rem 0.3rem white;
	background: black;
	align-items: center;
	padding: 0.8rem 1rem;
	border: 0.1rem solid white;
	z-index: 999;
}

.logo{
	width: 5rem;
	height: 3rem;
	border-radius: 0.7rem;
	aspect-ratio: 1 / 1;
	object-fit: cover;
}

main{
	margin-top: 7rem;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.section-1{
	margin: auto 1rem;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	gap: 1.5rem;
	background: rgba(100, 100, 100, 1.0);
	border-radius: 1rem;
}

.div-1{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.4rem;
}

.s1-img{
	width: 17rem;
	border-radius: 0.8rem;
	transform: rotate(180deg);
	transition: transform var(--transition-duration) linear, opacity 0.6s linear;
	opacity: 0;
	min-width: 7rem;
	max-width: 20rem;
	aspect-ratio: 1 / 1;
}

.s1-h1{
	transform: translateX(2.5rem);
	opacity: 0;
	transition: transform var(--transition-duration) linear, opacity var(--transition-duration) linear;
	font-size: 2.5rem;
	color: var(--primary-color);
	background: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.s1-p{
	text-align: center;
	line-height: 1.6;
	transform: translateX(-2.5rem);
	opacity: 0;
	transition: transform var(--transition-duration) linear, opacity var(--transition-duration) linear;
}

.cta-buttons{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.mobile-cta-btn{
	background: var(--primary-color);
	padding: 0.9rem 0.7rem;
	border-radius: 1rem;
	color: white;
	text-decoration: none;
	transition: font-size var(--transition-duration) linear;
}

.mobile-cta-btn:hover, .mobile-cta-btn:active{
	   font-size: 1rem;
}

.desktop-cta-btn{
	display: none;
}

.amponsah_pic, .shop_pic{
	border-radius: 1rem;
	filter: brightness(0.6);
	transition: filter var(--transition-duration) linear;
}

.amponsah_pic:hover, .shop_pic:hover{
	filter: brightness(1);
}

.amponsah_pic, .shop_pic{
	width: 16rem;
	min-width: 7.5rem;
	max-width: 19rem;
	aspect-ratio: 1/1;
	object-fit: cover;
}

.section-2{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	justify-content: center;
	margin: 2rem auto;
}

.s2-div1{
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	text-align: center;
	opacity: 0;
	transform: translateY(2rem);
	transition: opacity var(--transition-duration) linear, transform var(--transition-duration) linear;
}

.prod-btns{
	display: flex;
	flex-direction: row;
	gap: 1.2rem;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
}

.prod-btn{
	background: rgba(100, 100, 100, 1.0);
	border: 0.1rem solid white;
	color: white;
	border-radius: 1rem;
	padding: 1rem 0.9rem;
	font-size: var(--font-size);
	transition: background var(--transition-duration) linear;
}

.prod-btn:hover, .prod-btn:active{
	background: var(--secondary-color);
}


.prod-cont{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.8rem;
}

.items{
	direction: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.7rem;
	border: 0.1rem solid white;
	border-radius: 1rem;
	padding: 2rem;
	transition: box-shadow var(--transition-duration) linear, opacity var(--transition-duration) linear;
	opacity: 0;
}

.items:hover{
	box-shadow: 0.2rem 0.4rem 0.6rem rgba(255, 255, 255, 0.5)
}

.item-pic{
	width: 14rem;
	height: auto;
	border-radius: 0.9rem;
	aspect-ratio: 1/1;
	object-fit: cover;
}

.label{
	font-weight: bold;
}

.section-3{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.2rem;
	text-align: center;
	background: rgba(100, 100, 100, 1.0);
	padding: 1rem;
	border-radius: 1rem;
	margin: 1.5rem 1rem;
	transform: translateY(1.5rem);
	opacity: 0;
	transition: transform 0.6s linear, opacity 0.6s linear;
}

.telecomImageContainer{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.2rem;
}

.telecomImage{
	width: 7.8rem;
	border-radius: 50%;
	height: 7.8rem;
	min-width: 3.8rem;
	object-fit: cover;
	aspect-ratio: 1/1;
}

.section-4{
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: center;
	align-items: center;
	margin: 1.5rem auto;
}

.s4-div{
	border-radius: 1rem;
	border: 0.1rem solid white;
	margin: auto 2rem;
	background: rgba(100, 100, 100, 1.0);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	transform: translateY(2rem);
	opacity: 0;
	transition: transform 0.6s linear, opacity 0.6s linear;
}

.description{
	padding: 1rem;
	line-height: 1.8;
}

.nav-btn{
	position: fixed;
	right: 15%;
	bottom: 20%;
	background: var(--secondary-color);
	border-radius: 50%;
	padding: 0.7rem;
	color: black;
	opacity: 0;
	transition: background var(--transition-duration) linear, opacity var(--transition-duration) linear;
}

.nav-btn:active{
	background: var(--accent-color);
}

footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.2rem;
	border-top: 0.1rem solid var(--secondary-color);
	border-radius: 0.9rem / 1.5rem;
}

.footer{
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding-top: 1rem;
}

.div{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
}

.information{
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.7rem;
}

.more-text{
	display: none;
}

.more-btn{
	font-weight: bold;
	color: var(--primary-color);
	cursor: pointer;
}

.div h2{
	color: var(--secondary-color);
	
}

.links:link, .links:visited{
	color: white;
	text-decoration: none;
	transition: font-size 0.6s linear, color 0.6s linear;
}


.links:hover, .links:active{
	color: var(--secondary-color);
	font-size: 1.4rem;
}

@media screen and (min-width: 922px){
	.section-1{
		flex-direction: row;
	}

	.mobile-cta-btn{
		display: none;
	}

	.desktop-cta-btn{
		display: block;
		background: var(--primary-color);
		padding: 0.9rem 0.7rem;
		border-radius: 1rem;
		color: white;
		text-decoration: none;
		transition: font-size var(--transition-duration) linear;
	}

	.desktop-cta-btn:active, .desktop-cta-btn:hover{
		font-size: 1rem;
	}

	.section-4{
		flex-direction: row;
		align-items: stretch;
		justify-content: center;
	}
	
	.prod-cont{
		flex-direction: row;
	}
	
	.telecomImageContainer{
		flex-direction: row;
	}

}